<div class="newsletter">

  <div class="container newsletter-info">
      <div class="row">
          <div class="col-md-6">
              <h1>Newsletter</h1>
              <p>Subscribe and stay on top of news</p>
          </div>
          <div class="col-md-6 input-group newsletter-form">
              <input type="text" class="form-control" placeholder="Your email...">
              <div class="input-group-append">
                  <button class="btn btn-blue" type="button">Subscribe</button>
              </div>
          </div>
      </div>
  </div>

</div>
