.modal-header {
  background-color: #d7eef4;
}
.modal-title {
  color: #60bcd3;
}
.modal-body {
  font-size: 1.35em;
  font-weight: bolder;
  color: #60bcd3;
}
p {
  margin-bottom: 0;
}
a {
  cursor: pointer;
}
input {
  font-family: sans-serif;
  font-size: 0.8em;
}
.btn-blue {
  background: #60bcd3;
  color: #fff;
}
.btn-blue:hover {
  background-color: #d7eef4;
  color: #60bcd3;
}
