<div class="modal-header">
  <h4 class="modal-title"><strong>FORGOT PASSWORD</strong></h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form action="" [formGroup]="formForgotPass">
<div class="modal-body">
  <p>E-mail</p>
  <input class="form-control" type="email" placeholder="E-mail" formControlName="email" />
  <div class="invalid-feedback">Please fill out this field correctly.</div>
</div>
<div class="modal-footer">
  <button
    type="submit"
    class="btn btn-blue btn-lg" (click)="action()"
  >
    SEND
  </button>
</div>
</form>
