<div class="welcome mt-5">
  <div class="col-12 text-center my-3">
    <img src="../../assets/images/welcome.jpeg" />
  </div>
</div>

<section class="sales">
  <div class="container text-center py-5">
    <div class="form-group row">
        <select class="form-control" id="filtersButtons" [(ngModel)]="term">
          <option value="All">All</option>
          <option *ngFor="let entry of products | filterCategory" value="{{entry.categories}}">{{entry.categories}}
          </option>
        </select>
      </div>
    <div ngDefaultControl id="filtersButtons" [(ngModel)]="term" class="pb-3">
      <button  type="button" class="btn filt active" (click)="term = ''">
        SHOW ALL
      </button>
      <button
        class="btn filt ml-3"
        (click)="term = product.categories"
        type="button"
        *ngFor="let product of products | filterCategory"
      >
        {{ product.categories }}
      </button>
    </div>
    <!-- <input type="text" class="form-control" placeholder="Search" [(ngModel)]="term"> -->

    <div class="row products" id="products">
      <div
        class="product col-md-4"
        *ngFor="let product of products | filterProducts: term: 'categories'; index as i"
      >
        <div class="content mx-2 my-4">
          <img src="{{ product.img }}" />
          <div class="overlay-details">
            <h4 class="pb-4">{{ product.name }}</h4>
            <button
              type="submit"
              class="btn btn-detail"
              (click)="openDetail(product)"
            >
              <p>+ Details</p>
            </button>
            <div class="row justify-content-center mt-5">
              <p class="mx-3 mt-2">$ {{ product.price }}</p>
              <button class="btn btn-blue" type="submit">
                <i class="fa fa-cart-plus mx-3"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-newsletter></app-newsletter>
