@media (min-width: 320px) {
  .welcome {
    img {
      width: 90%;
    }
  }
  /* Sales */
  .products {
    .product {
      // display: none; /* Hide all elements by default */
      .content {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        img {
          width: 40%;
          flex: 1;
        }
      }

      h4 {
        font-weight: bolder;
        font-size: 1.6em;
        margin-top: 1.2em;
        margin-bottom: 0.5em;
      }
      p {
        font-size: 1.2em;
        font-family: sans-serif !important;
      }
      i {
        font-size: 1.5em;
      }
    }
    .btn-blue {
      background: #60bcd3;
      color: #fff;
    }

    .btn-blue:hover {
      background-color: #d7eef4;
      color: #60bcd3;
    }
  }

  .btn-detail {
    background-color: transparent;
    font-family: sans-serif !important;
    align-content: center;
    border-color: #d7eef4;
    border-width: 5px;
    p {
      margin: 0;
    }
  }

  .btn-detail:hover {
    background-color: #d7eef4;
  }

  .overlay-details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .product:hover .overlay-details {
    opacity: 1;
  }

  .show {
    display: block;
  }

  .filt {
    font-family: "Gaegu-Bold", cursive !important;
    font-size: 1.5em;
    color: #60bcd3;
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }

  .filt:hover {
    background-color: #d7eef4;
    color: #60bcd3;
  }

  .filt.active {
    background-color: #60bcd3;
    color: white;
  }
}

@media (min-width: 768px) {
  .welcome {
    img {
      width: 80%;
    }
  }
}

@media (min-width: 1024px) {
  .welcome {
    img {
      width: 50%;
    }
  }
}
