
@import '../node_modules/bootstrap/scss/bootstrap.scss';
$fa-font-path : '../node_modules/font-awesome/fonts';
@import '../node_modules/font-awesome/scss/font-awesome';
// $fa-font-path : '~font-awesome/fonts';
// @import '~font-awesome/scss/font-awesome';
@font-face {
  font-family: Gaegu-Bold;
  src: url(assets/Gaegu/Gaegu-Bold.ttf) format("truetype");
}
@font-face {
  font-family: Gaegu-Light;
  src: url(assets/Gaegu/Gaegu-Light.ttf) format("truetype");
}
@font-face {
  font-family: Gaegu-Regular;
  src: url(assets/Gaegu/Gaegu-Regular.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gaegu-Regular','lato', 'arial', sans-serif;
}
