<footer class="footer container-fluid">
  <div class="container">
      <div class="row mt-3">
          <div class="col-lg-3 col-sm-6">
              <h4>ABOUT US</h4>
              <a href="#">
                  <p>The Company</p>
              </a>
              <a href="#">
                  <p>Refund Policy</p>
              </a>
              <a href="#">
                  <p>FAQ</p>
              </a>
          </div>
          <div class="col-lg-3 col-sm-6">
              <h4>CONTACT</h4>
              <a href="#">
                  <p>contactus@hamsterdaily.com</p>
              </a>
              <a href="#">
                  <p>+1 5432 9876</p>
              </a>
          </div>
          <div class="col-lg-3 col-sm-6">
              <h4>SOCIAL NETWORKS</h4>
              <a href="#"><i class="fa fa-facebook mx-4"></i></a>
              <a href="#"><i class="fa fa-instagram mr-4"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
          </div>
          <div class="col-lg-3 col-sm-6">
              <h4>PAYMENT METHODS</h4>
              <i class="fa fa-credit-card mx-4"></i>
              <i class="fa fa-barcode mr-4"></i>
              <i class="fa fa-cc-paypal"></i>
          </div>

      </div>
      <div class="row last">
          <p>Hamster Daily © 2020. All rights reserved.</p>
      </div>
  </div>
</footer>
